<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h1>Saved Articles</h1>
        {{#each allArticles}}
        <br>
        <div class="input-group">
            <a href="{{this.link}}" target="_blank" class="form-control" id="articleTitle">{{this.title}}</a>
            <span class="input-group-btn">
                <form method="POST" action="/delete/{{this.id}}?_method=PUT">
                    <button type="submit" class="btn btn-secondary">DELETE</button>
                </form>
            </span>
            <span class="input-group-btn">
                {{!--
                <form method="GET" action="/articles/{{this.id}}"> --}}
                <button id="modalbutton" type="button" class="btn btn-secondary" data-toggle="modal" data-id={{this.id}} data-target="#myModal">NOTES</button>
                    {{!-- <button id="modalbutton" type="submit" class="btn btn-secondary pull-right" data-toggle="modal" data-id={{this.id}} data-target="#myModal">NOTES</button> --}}
                    {{!--
                    <button type="submit" class="btn btn-secondary">Note</button> --}} {{!-- </form> --}}
            </span>
        </div>
        {{/each}}
    </div>
    <div class="col-md-1">

    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Article Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span id="articleID" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="notes"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    {{!--
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Notes for Article
                        <span id="articleID"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="notes"></div>
                </div>
            </div>
        </div>
    </div> --}}
</div>